.header img {
    float: left;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    padding-left: 30px;
}
  
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

.pure-u-8-24 p {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 30px;
    font-size: 20px;
}

.gdp{
    font-weight: bold;
    color: #108c29
}

.social_sup {
    font-weight: bold;
    color: #863abb
}

.life_ex {
    font-weight: bold;
    color: #EC810C
}

.freedom {
    font-weight: bold;
    color: #0bcbc7
}

.corruption {
    font-weight: bold;
    color: #FF0000
}

.life_lad {
    font-weight: bold;
    color: #0f50b3
}

.select {
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    height: 20%;
    font-size: 20px;
    font-weight: bold;
}

.choromap {
    padding-left: 30px;
}

.pure-u-5-24 p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.cat1 {
    display: block;
}

.cat2 {
    display: none;
}

.cat3 {
    display: none;
}

.cat4 {
    display: none;
}

.cat5 {
    display: none;
}

.cat6 {
    display: none;
}
